body{
    background-color:#ffb3e6;
}

h2{
    color:black;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    font-weight: 100px; 
}
p{
    color:black;
    font-size: 20px;
    font-family:"Lato", sans-serif;
    font-weight: 100px;  
}